<div id="buyBox">
    <img src="/assets/images/albumCover.gif" alt="albumcover"  />
    <br />
    <br />

    <iframe width="100%" height="265" scrolling="no" frameborder="no" src="https://www.reverbnation.com/widget_code/html_widget/artist_751466?widget_id=55&pwc[included_songs]=1&context_type=page_object&spoid=artist_751466&pwc[size]=small" style="width:0px;min-width:100%;max-width:100%;"></iframe>
</div>
