<ul class="navbar-nav">
    {% for item in site.data.nav.menu %}
        <li class="nav-item">
            <a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a>
        </li>
    {% endfor %}
</ul>
