body {
    color: #111;
    margin: 0;
    padding: 0;
    font-family: verdana, arial, kalimati, sans-serif;
    font-size: 12pt;
    text-align: center;
    background-color: #abafff;
}

@font-face {
    font-family:  "Anke Calligraphic FG";
    src:  url('../js/ankecallig-fg.ttf') format('truetype');
}

a {
    color: #911;
    text-decoration: underline;

    &:hover {
        color: #000;
    }
}

#outerContainer {
    width: 100%;       
    height: 100%;
    margin: 0 20px;
    padding: 20px;

    #outer {
        width: 900px;
        margin: 0 auto;
    }
}

#header {
    height: 86px;
    text-align: left;

    img#mani {
        margin-left: 0;
        width: 189px;
        opacity: .4
    }

    img#title {
        margin-left: 20px;
        width: 338px;
    }
}

.songNav {
    float: right;

    a {
        font-size: 17px;
    }
}

#mainContent {
    float: left;
    width: 450px;
    min-height: 500px;
    height: 500px;
    height: auto !important;

    #inner {
        margin: 30px 0 0 42px;
        padding-left: 5px;
        text-align: left;
    }

    ul {
        list-style-type: square;
    }
}

ul.accessibility {
    display: none;
}

h3 {
    font-size: 20px;
    letter-spacing: 5px;
}

#buyBox {
    float: right;
    width: 200px;
    height: 400px;
}

.thinText {
    margin-left: 64px;
}

.gallery img {
    width: 100%;
}

.footer {
    position: relative;
    bottom: 0px;
    border-top: 1px solid #aaa;
    float: left;
    width: 100%;
    padding-top: 5px;
    color: #f0f0f0;
}
