/* Most mobiles */
@media only screen and (max-device-width: 480px) {
    #outerContainer {
        margin: 0;
        padding: 10px;

        #outer {
            width: 480px;
        }
    }

    #header {
        background: none;
        height: 43px;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        margin: 0 auto;

        img#mani {
            display: none;
        }

        img#title {
            margin: 0 auto;
            margin-left: 57px;
            width: 238px;
        }
    }

    #menu {
        img {
            display: none;
        }

        ul {
            text-align: left;
        }
    }

    #mainContent {
        #inner {
            margin: 0;
            padding: 0;
            width: 90%;
        }
    }

    #buyBox {
        float: left;
    }
}

