#menu {
    float: left;
    width: 191px;
    margin: 19px 0 0 0;

    a:link,
    a:visited,
    .nav-item {
        color: #333;
        display: block;
        margin-bottom: 5px;
        font-size: 19px;
        font-family:  "Anke Calligraphic FG";
        letter-spacing: 5px;

        a {
            text-decoration: none;
        }
    }


    ul {
        list-style: none;
        padding: 0;
        text-align: right;
    }
}
