<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body>
        <div id="outerContainer">
            <div id="outer">

                <div id="header">
                    <img src="/assets/images/mani6.gif" alt="mani" id="mani" />
                    <img src="/assets/images/logoTitle.png" alt="logo title" id="title" />
                </div>

                <div id="menu">
                    {% include nav.html %}
                    <img src="/assets/images/gallery/promo/IMG_6403.jpg" alt="Kemble" width="150" />
                </div>

                <div id="mainContent">
                    <div id="inner">
                        {{ content }}
                    </div>
                </div>

                {% include buyBox.html %}
                {% include footer.html %}
            </div>
        </div>
    </body>
</html>
