<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body>
        <div id="outerContainer">
            <div id="outer">

                <div id="header"><div id="headerContent">Mantrasphere</div></div>

                <div id="menu">
                    {% include nav.html %}
                    <img src="/assets/images/gallery/promo/IMG_6403.jpg" alt="Kemble" width="150" />
                </div>

                <div id="mainContent">
                    <div id="inner">

                        <div class="gallery">
                            <h5>{{ site.data.galleries[page.dataFile].description }}</h5>
                            
                            {% for image in site.data.galleries[page.dataFile].images %}
                                {% capture src %}
                                    /{{ site.data.galleries[page.dataFile].imageFolder }}{{ image.img }}
                                {% endcapture %}

                                <img src="{{ src }}"
                                    alt="{{ image.name }}" 
                                    class="center-img" />
                                <hr />
                            {% endfor %}

                            {% if page.link %}
                                <a href="{{ page.link }}">{{ page.linkText }}</a>
                            {% endif %}
                        </div>

                    </div>
                </div>

                {% include buyBox.html %}
                {% include footer.html %}
            </div>
        </div>
    </body>
</html>
